<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PickAFruit.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B3C455BC1C0994050054F9F9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B3C455D01C0994060054F9F9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B3C455DB1C0994060054F9F9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
